@page "/upload/images"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using MudBlazorServerWebApp.Data
@using System.IO

@attribute [Authorize]


<h6>This is work in progress</h6>
<MudDivider Class="mt-10 mb-10" />

<MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="UploadFiles2" MaximumFileCount="5">
    <ButtonTemplate>
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.CloudUpload"
                   for="@context.Id">
            Upload Images
        </MudButton>
    </ButtonTemplate>
</MudFileUpload>

@if (files != null)
{
    <MudList>
        @foreach (var file in files)
        {
            <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                @file.Name <code>@file.Size bytes</code>
                
            </MudListItem>
        }
    </MudList>
}


@code {
    List<IBrowserFile> files = new();


    private void UploadFiles2(IBrowserFile file)
    {
    }

    private void SaveImages(IBrowserFile file)
    {      
    }
}
